@model ViewModelLayers.EmployeeViewModel
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div class="container-fluid">
    <div class="card border">
        <h5 class="card-header">Create Employee</h5>
        <div class="card-body">
            @using (Html.BeginForm("AddEmployee", "Master", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                if (Model.Employee.EmployeeId > 0)
                {
                    @Html.HiddenFor(model => model.Employee.EmployeeId)
                    @Html.HiddenFor(model => model.Employee.EmployeeCode)
                    @Html.HiddenFor(model => model.Employee.CreatedOn)
                }

                <div class="row g-3">
                    <div class="col-12">
                        <div class="row g-3">
                            <div class="col-lg-3 has-danger">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Employee.EmployeeName, new { @class = "form-label" })
                                    @Html.TextBoxFor(model => model.Employee.EmployeeName, new { @class = "form-control", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Employee.EmployeeName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Employee.Age, new { @class = "form-label" })
                                    @Html.TextBoxFor(model => model.Employee.Age, new { @class = "form-control", type = "number", autocomplete = "off", min = 15 })
                                    @Html.ValidationMessageFor(model => model.Employee.Age, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Employee.DOJ, new { @class = "form-label" })
                                    @Html.TextBoxFor(model => model.Employee.DOJ, new { @class = "form-control", type = "date", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Employee.DOJ, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Employee.Department, new { @class = "form-label" })
                                    @Html.TextBoxFor(model => model.Employee.Department, new { @class = "form-control", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Employee.Department, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Employee.Designation, new { @class = "form-label" })
                                    @Html.TextBoxFor(model => model.Employee.Designation, new { @class = "form-control", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Employee.Designation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Employee.Salary, new { @class = "form-label" })
                                    @Html.TextBoxFor(model => model.Employee.Salary, new { @class = "form-control", type = "number", autocomplete = "off", min = 1 })
                                    @Html.ValidationMessageFor(model => model.Employee.Salary, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Employee.Password, new { @class = "form-label" })
                                    @Html.TextBoxFor(model => model.Employee.Password, new { @class = "form-control", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Employee.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                                @Html.ActionLink("Back", "Employee", null, new { @class = "btn btn-secondary" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>





